IMG.displayed {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.hot-container p { margin-top: 10px; }
a { text-decoration: none; margin: 0 10px; }

.hot-container {
	min-height: 100px;
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

a.btn {
	display: inline-block;
	color: #FFFFFF;
	background-color: #A52A2A;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 30px;
	padding: 10px 80px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}
