
div.cover {
	margin-left:520px; 
	margin-top:205px;
	width: 20px;

	height: 20px;
}
p.sf{
	font-size: 5px;
}

a.btn {
	padding: 5px;
	font-size: 7px;
	text-align: center;
	width: 40px;
	height: 5px;
}

body {

	background-size: 100%;
	background-repeat: no-repeat;
}