nav {
    background-color: black;
    border-bottom: solid 3px red;
    padding: 10px;
}

nav a {
    color: white;
}

nav a:hover {
    color: #EEE;
}
nav h1 {
    display: inline-block;
    color: white;
    margin-left: 15px;
}

nav img {
    margin-top: -10px;
    margin-bottom: 10px;
}

.nav-div-tabs {
    margin-top: 35px;
}

#action-buttons {
    margin-top: 30px;
    margin-bottom: 20px;
}


p.amt{
}

div.bg {
    background-color: #FAD7D7;
}

p.date{
    position:absolute; 
    margin-left:830px; 
    margin-top: -36px;"
}

div.l1, div.l2 {
    display: inline;
}

div.l1 {
    position: absolute;
    margin-top: 40px;
    margin-left: 400px;
}
div.l2 {
    position: absolute;
    margin-top: 40px;
    margin-left: 1000px;
}